body {
  padding-top: 30px;
  text-align: center;
  background-image: url('images/batthern.png');
}

#mouse-zone {
  border: 1px solid gray;
  background: rgb(70, 122, 96);
  margin: 30px auto;
  height: 255px;
  width: 255px;
  text-align: center;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
}

#rgb-output {
  background-color: transparent;
  border: 0px;
  font-size: 3em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
}
